* {
   margin: 0;
   padding: 0;
}

body {
   overflow-x: hidden;
}

#tabSection {
   display: flex;
   background-color: rgb(60, 231, 60);
}

#allTabs {
   display: flex;
   height: 40px;
   width: inherit;
   padding: 0 20px;
}

#addTab {
   background-color: rgb(211, 206, 206);
   width: 20px;
   height: 20px;
   border-radius: 50%;
   text-align: center;
   cursor: default;
   position: relative;
   right: 20px;
   top: 10px;
}

.tab {
   display: flex;
   justify-content: center;
   align-items: center;
   height: inherit;
   width: 155px;
   background-color: rgb(6, 204, 6);
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   margin-right: 5px;
}

.currentTab {
   background-color: rgb(255, 255, 255);
}

.tabName {
   font-size: 20px;
   margin-left: 30px;
   margin-right: 10px;
   cursor: default;
}

.close {
   font-size: 25px;
   cursor: default;
   font-weight: bold;
}

.options {
   height: 50px;
   width: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn {
   margin: 0 10px;
   padding: 5px;
   border-radius: 5px;
}

.save {
   position: absolute;
   right: 100px;
   border-radius: 5px;
   padding: 5px;
   background-color: rgb(247, 139, 139);
   font-weight: bold;
   cursor: pointer;
}

.area {
   padding: 5px 10px;
   font-size: 20px;
   font-family: 'Varela Round', sans-serif;
   width: 1514px;
   height: 680px;
}